mixin medium-module(title, subtitle, link)
    div(class="medium-module")
        div(class="medium-module-content-container")
            h1(class="medium-module-title") #{title}
            h4(class="medium-module-subtitle") #{subtitle}
        a(class="medium-module-arrow" href=link)