
<script type="text/javascript">requirejs(["./resources/js/fancy-text-box.js"], function(){ })</script>
<div class="contact-form parallax-container">
  <div class="contact-form-background vignette"></div>
  <div class="contact-form-title">
    <div class="rotated-title">
      <div class="title-container">
        <h1 class="title-heading parallax-element">Contact</h1>
      </div>
    </div>
  </div>
  <div class="contact-form-content">
    <form class="contact-form-form" action="contact-form.php">
      <div class="fancy-text-box">
        <div class="fancy-text-box-content">
          <input class="fancy-text-box-input" type="text" name="first-name"/>
          <h4 class="fancy-text-box-placeholder">First Name</h4>
        </div>
      </div>
      <div class="fancy-text-box">
        <div class="fancy-text-box-content">
          <input class="fancy-text-box-input" type="text" name="last-name"/>
          <h4 class="fancy-text-box-placeholder">Last Name</h4>
        </div>
      </div>
      <div class="fancy-text-box">
        <div class="fancy-text-box-content">
          <input class="fancy-text-box-input" type="text" name="email"/>
          <h4 class="fancy-text-box-placeholder">Email</h4>
        </div>
      </div>
      <div class="fancy-text-area">
        <textarea class="fancy-text-area-input" name="message"></textarea>
      </div>
      <input class="contact-form-submit" type="Submit" value="Submit"/>
    </form>
  </div>
</div>