
<script type="text/javascript">requirejs(["./resources/js/image-slider.js"], function(){ })</script>
<div class="image-slider parallax-container">
  <div class="image-slider-slogan">
    <div class="animate-title component">
      <script type="text/javascript">requirejs(["./resources/js/animate-title.js"], function(){ })</script>
      <div class="animate-title-content">
        <div class="animate-titles">
          <h1 class="animate-title-1">Grand</h1>
          <h1 class="animate-title-2">Gallery</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="image-slider-content parallax-element">
    <div class="image-slider-images"><a class="image-slider-image vignette" style="background-image: url('./resources/images/gc-landscape.jpg');"></a><a class="image-slider-image vignette" style="background-image: url('./resources/images/gc-river.jpg');"></a><a class="image-slider-image vignette" style="background-image: url('./resources/images/gc-sunset.jpg');"></a><a class="image-slider-image vignette" style="background-image: url('./resources/images/gc-swirl.jpg');"></a><a class="image-slider-image vignette" style="background-image: url('./resources/images/gc-blue-river.jpg');"></a><a class="image-slider-image vignette" style="background-image: url('./resources/images/gc-man.jpg');"></a>
    </div>
    <div class="image-slider-buttons"><a class="image-slider-button image-slider-button-left" href="#" style="background-image: url('./resources/images/image-slider/left-arrow.png');"></a><a class="image-slider-button image-slider-button-right" href="#" style="background-image: url('./resources/images/image-slider/right-arrow.png');"></a></div>
    <div class="image-slider-indexes"><a class="image-slider-index" href="#" imageIndex="0"></a><a class="image-slider-index" href="#" imageIndex="1"></a><a class="image-slider-index" href="#" imageIndex="2"></a><a class="image-slider-index" href="#" imageIndex="3"></a><a class="image-slider-index" href="#" imageIndex="4"></a><a class="image-slider-index" href="#" imageIndex="5"></a>
    </div>
  </div>
</div>