
<div class="image-scroller">
  <div class="image-scroller-image-container">
    <div class="image-scroller-image" style="background-image:url(./resources/images/gc-landscape.jpg);"></div>
  </div>
  <div class="image-scroller-image-container">
    <div class="image-scroller-image" style="background-image:url(./resources/images/gc-river.jpg);"></div>
  </div>
  <div class="image-scroller-image-container">
    <div class="image-scroller-image" style="background-image:url(./resources/images/gc-sunset.jpg);"></div>
  </div>
  <div class="image-scroller-image-container">
    <div class="image-scroller-image" style="background-image:url(./resources/images/gc-swirl.jpg);"></div>
  </div>
  <div class="image-scroller-image-container">
    <div class="image-scroller-image" style="background-image:url(./resources/images/gc-blue-river.jpg);"></div>
  </div>
  <div class="image-scroller-image-container">
    <div class="image-scroller-image" style="background-image:url(./resources/images/gc-man.jpg);"></div>
  </div>
</div>