@import "../../resources/sass/_fonts";

.about{
    .about-content{
        position: relative;
        .about-content-paragraphs{
            padding-top: 1em;
            padding-bottom: 1em;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            p{
                line-height: 1.5em;
                font-family: $roboto;
                position: relative;
                display: inline-block;
                margin: 0.3em 5%;
            }
        }
    }
}