extends ../layouts/page-layout

block title
    title Gallery: Grand Canyon

block pre-content

block content
    include ../components/image-slider/image-slider
    include ../components/image-scroller/image-scroller