extends ../layouts/page-layout
include ../components/parallax-image/parallax-image
include ../components/animate-title/animate-title
include ../components/splash/splash

block title
    title Home: Grand Canyon

block pre-content
    +animate-title("Grand", "Canyon")

block content
    +splash("./resources/images/gc-man.jpg")
    include ../components/about/about
    +parallax-image("./resources/images/gc-landscape.jpg")