div(class="image-scroller")
    for image in imageSlider.images
        div(class="image-scroller-image-container")
            div(class="image-scroller-image" style="background-image:url("+image.src+")")