include ../rotated-title/rotated-title
include ../fancy-text-box/fancy-text-box

div(class="contact-form parallax-container")
  div(class="contact-form-background vignette")
  div(class="contact-form-title")
    +rotated-title("Contact")
  div(class="contact-form-content")
    form(class="contact-form-form" action="contact-form.php")
      +fancy-text-box("First Name", "first-name")
      //- +fancy-text-box("Last Name", "last-name")
      p Message:
      input(class="contact-form-message" type="text" name="Message")
      input(type="Submit" value="Submit" class="submit-button")
