include ../../util/include/include-script
+include-script("./resources/js/nav-bar.js")
div(class="nav-bar")
    nav
        div(class="nav-bar-highlighter")
        ul
            for item in navBar.menuItems
                li
                    a(href=item.url) #{item.title}