.parallax-image{
    position: relative;
    width: 100%;
    padding-top: 30%;
    overflow: hidden;

    .parallax-image-background{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}