mixin parallax-image(imagePath)
    div(class="parallax-image parallax-container component")
        div(class="parallax-image-background parallax-element" style="background-image: url("+imagePath+")")